<body>
    <h1>{{title}}</h1>
    <p> Are you sure?</p>
    <fieldset>
    <form action="{{person.url}}/delete" method="POST">
    <p>{{person.name}}</p>
    <button type="submit">Delete Guest Record</button>
    </form>
    </fieldset>
</body>