<body>
    <h1>{{title}}</h1>
    <h2>guest details</h2>
    <p>First Name: {{person.firstName}}</p>

    <a href="{{person.url}}/delete">Delete Guest</a>
    <a href="{{person.url}}/update">Update Guest</a>
</body>