<body>
    <div>
    <fieldset style='width: 30%;'>
        <legend><h4>{{title}}</h4></legend>
        <form action="/admin/registration/create" method="POST">
        <label for="guest">Guest:</label><br><p>{{guest.name}}</p>
        <label for="patient">Patient:</label><br>
            <input name="patient" type="text" id="patient"><br>
        <label for="patientLoc">Patient Location:</label><br>
            <input name="patientLoc" type="text" id="patientLoc"><br> 
        <label for="staff">Staff:</label><br>
            <input name="staff" type="text" id="staff"><br>
        <label for="room">Room:</label><br>
            <select name="room" required="true">
                <option value="">Select One</option>
                {{#each rooms}}<option value="{{name}}">{{name}}</option>{{/each}}
            </select><br>
        <label for="checkIn">Checked In: </label><br>
            <input name="checkIn" type="Date" id="check in"><br> 
        <label for="checkOut">Checked Out: </label><br>
            <input name="checkOut" type="Date" id="check out"><br>
        <label for="vehicle">Vehicle:</label><br>
            <input name="vehicle" type="text" id="vehicle"><br>
        <label for="plateNum">Vehicle Plate Number:</label><br>
            <input name="plateNum" type="text" id="plateNum"><br> 
        <label for="numbKeys">Number of Keys: </label><br>
            <input name="numbKeys" type="text" id="number of keys"><br>
        <label for="loans">Items on Loan: </label><br>
            <input name="loans" type="text" id="loans"><br>
        <label for="comments">Comments: </label><br>
            <input name="comments" type="text" id="comments"><br> 
            <input type="submit" value="Create Registration"> <br>   
    </form>
</body>